###### Requirements without Version Specifiers ######
#MISC
setuptools 
virtualenv
##CRAWLER
beautifulsoup4
requests
lxml
##GUI
Kivy
##DATABASE
json
pathlib
###### Requirements with Version Specifiers ######